.feedback {
  width: 100%;
  margin-top: 2rem;
}

.feedback-heading {
  font-size: 2rem;
  font-weight: 700;
}

.feedback-descritpion {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.highlight {
  font-weight: 600;
}

.next-question {
  border: none;
  color: inherit;

  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;

  border-radius: 1.25rem;

  font-family: inherit;
  width: 12rem;
  text-align: center;
}

.next-question:hover {
  cursor: pointer;
}

.correct   { color: #29c98e; }
.incorrect { color: #FDA50F; }
.bg-correct   { background-color: #29c98e; }
.bg-incorrect { background-color: #FDA50F; }

.bg-correct:hover   { background-color: #36da9e; }
.bg-incorrect:hover { background-color: #f7b23b; }
