.feedback-heading {
  font-size: 2rem;
  font-weight: 700;
}

.correct {
  color: #00A86B;
}

.incorrect {
  color: #FDA50F;
}

.feedback-descritpion {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.highlight {
  font-weight: 600;
}

.feedback {
  width: 100%;
  margin-top: 2rem;
}

.next-question {
  border: none;
  color: inherit;

  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;

  border-radius: 1.5rem;

  font-family: inherit;
  width: 12rem;
  text-align: center;
}

.next-question:hover {
  cursor: pointer;
}

.next-question.incorrect {
  background: #FDA50F;
}

.next-question.correct {
  background: #00A86B;
}

.next-question.incorrect:hover {
  background: #ffba42;
}

.next-question.correct:hover {
  background: #00bd78;
}